.col-md-12
  %h2
    Перегляд усіх Ваших тендерів
  -unless @tenders.empty?
    -@tenders.each do |tender|
      .row
        .col-md-3
          -tender.title
        .col-md-6
          -tender.description
        .col-md-3.action_button
          =image_tag('crud_icons/loupe.png')
          =image_tag('crud_icons/pencil.png')
          =image_tag('crud_icons/X_icon.png')
  -else
    Ще не створено жодного тендеру