
.col-md-12
  %h2
    Перегляд усіх Ваших тендерів
  =link_to 'Створити тендер',new_module_customer_manage_tender_path
  -unless @tenders.empty?
    -@tenders.each do |tender|
      .row
        .col-md-3
          =tender.title
        .col-md-6
          =tender.description
        .col-md-3.action_button
          = link_to image_tag('crud_icons/loupe.png'),module_customer_manage_tender_path(tender)
          = link_to image_tag('crud_icons/pencil.png'),edit_module_customer_manage_tender_path(tender)
          = link_to image_tag('crud_icons/X_icon.png'),module_customer_manage_tender_path(tender),method: :delete
  -else
    Ще не створено жодного тендеру