=link_to 'Мої тендери',module_customer_manage_tenders_path,class: 'btn btn-primary'


%p
  =@customer_tender.author
%p
  =@customer_tender.address
%p
  =@customer_tender.budget
%p
  =@customer_tender.contact_data
%p
  =@customer_tender.coordinates