.row
  Усі тендери
-unless @tenders.empty?
  =@tenders.each do |tender|
    .row
      .col-xs-6
        =tender.title
      .col-xs-6
        - if current_user && current_user.is_performer?
          =link_to 'Відгукнутися','',class: 'tender_comment btn btn-info'
-else
  На данний момент немає жодного тендеру


:javascript
  $(document).ready(function() {
    $('.tender_comment').click(function(){
      $('#tender_comment_modal').modal();
      return false;
    });
  });